@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh
}

html, body {
  height: 100%;
}

